/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color:#f4f2da;
}

a{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    text-decoration:none;
}

em {
    font-style: oblique;
}

strong {
    font-style: bold;
}

img {
    width:100%;
}

h1, h2, h3, h4, h5{
    font-family: Helvetica, Courier, Arial;
    font-style: normal;
    color:#A1D0E7;
}

h3{
    text-transform: capitalize;
    font-size: 1.875em;
    padding: 0 0 1% 0;
    color:red;
    font-weight:800;
}

header{
    background: linear-gradient( rgba(100,150,100,0.50),
                                 rgba(100,204,100,0.90)),
                                 /* we have two rgba colours because we want to mix two colours.
                                 r=red, g=green, b=blue, a=alpha
                                 alpha is the opacity of the colour */
    url("https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif");
    background-size:cover;
    background-position: center top;
    width: 100%;
}

.intro{
    max-width:960px;
    margin:0 auto;
    padding:3% 0;
}

.intro h1{
    font-size:3em;/*1em=16px */
    text-align:center;
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-weight:800;/*font weight setsthe thickness*/
    line-height:1.5em;
}

.intro h2{
    font-size:2em;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-weight:500;
    line-height:1.2em;
}

.wrapper {
    max-width:960px;
    margin:0 auto;
    font-family:"Trebuchet MS", sans-serif;
}

.about{
    padding:4% 0;
}

.about p{
    font-family:"proxima-nova",sans-serif;
    font-style:normal;
    font-weight:200;
    line-height:2.0;
    color:blue;
    letter-spacing:.03em;
    margin:10px auto;
    font-size:1.5em;
    padding:2% 0;
}

.about p a{
    color:orange;
    border-bottom:2px solid;
}

.work{
    height:300px;
    padding:2% 0;
}

.work h3{
    padding:4% 0;
}

.textbox{
    float:left;
    text-align:left;
    width:480px;
    background-color:#fff;
    height:230%;
}

.textbox-content{
    padding:4% 8%;
}

.textbox-content p{
    line-height:1.8;
    color:grey;
    letter-spacing:.03em;
    font-size:1em;
}

.button{
    padding:5% 3%;
    border:3px solid #e0ccc8;
    letter-spacing: 0.2em;
    text-decoration: none;
    color:#e0ccc8;
    text-align: center;
    display:block;
    font-weight:600;
    text-transform:uppercase;
    margin-top:4%;
}

.button:hover{
    color:#fff;
    background-color:#e0ccc8;
}

.image-area{
    width:480px;
    height:500px;
    overflow:hidden;
}

.left{
    float:left;
}

.right{
    float:right;
}

.contact {
    width:100%;
    background-color:#011833;
    padding:2% 0;
    margin-top:5%;
    clear:both;
}

.contact-content{
    max-width: 960px;
    margin:0 auto;
    text-align:center;
}

.contact-content h4{
    font-size:1.875em;
    padding:1% 0;
}

.contact-content a{
    color:#e0ccc8;
    text-decoration:none;
}

.image-divider{
    padding:15% 0;
    background:url("https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2009/1-astronomerse.jpg");
    /*
    Notable gifs
    1. https://media.giphy.com/media/137EaR4vAOCn1S/giphy.gif
    2. https://media.giphy.com/media/EIJQbFyFFdo2s/giphy.gif
    3. https://media.giphy.com/media/yYSSBtDgbbRzq/giphy.gif
    4.https://media.giphy.com/media/10zxDv7Hv5RF9C/giphy.gif
    5. https://media.giphy.com/media/eCqFYAVjjDksg/giphy.gif
    
    Search programming on giphy
    */
    background-size:cover;
    background-position: center top;
}

footer{
    background-color:black;
    color:#fff;
    padding:3% 0;
    width:100%;
    clear:both;
    height:150px;
}

.footer-content{
    max-width:960px;
    padding:3% 0;
    margin:0 auto;
    font-family:"Courier New",Monospace;
    font-style: normal;
    font-weight:300;
    line-height:1.4;
    color:#fff;
    letter-spacing:.03em;
    font-size:1em;
}

.credit{
    float:left;
}

.social{
    float:right;
}

.social{
    float:right;
}
.social li a{
    color:#fff;
    padding:0.2em;
    font-size:1.8em;
    font-weight:600;
}

.social li a:hover{
    color:#011833;
}

@media only screen and (max-width:1000px){
    .wrapper{
        padding:0.4%;
    }
    
    .work{
        padding:4% 0;
    }
    .image-area{
        float:left;
        width:100%;
        height:auto;
    }
    .text-box{
        width:100%;
        height:auto;
    }
    .social li a{
        font-size:1.4em;
    }
}

@media only screen and (max-width:800px) {
    .intro h1{
        font-size:4em;
        line-height:1.2;
    }
    .intro h2{
        font-size:1.6em;
        padding-top:3%;
    }
    .about p{
        font-size:1em;
        line-height:2;
    }
    .footer{
        height:130px;
        line-height:13px;
    }
    .footer-content{
        padding:4%;
        font-size:14px;
    }
    .social{
        float:left;
    }
    .social li a {
        font-size:1.3em;
    }
    .contact-content{
        font-size:12px;
        line-height:1.5;
    }
}